@{
    ViewBag.Title = "Home Page";
}

<div class="nav-justified">
    <h1>Team MVC Project</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Team MVC Project</h2>
        <p>
            Team MVC Project is simple MVC application for manipulation with players and teams management.
        </p>
    </div>
</div>